body {
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.ID-Card {
    position: relative;
    width: 190px;
    height: 254px;
    background: #2663a8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ID-Card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #51c151, #2663a8);
}

.ID-Card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #51c151, #2663a8);
    filter: blur(30px);
}

.ID-Card b {
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.profile-img {
    position: relative; 
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px; 
    border: 3px solid rgba(255, 255, 255, 0.5); 
    z-index: 3; 
    opacity: 0; 
    transform: translateY(20px); 
    transition: 0.5s; 
}

.ID-Card:hover .profile-img {
    opacity: 1; 
    transform: translateY(0);
}


.ID-Card .content {
    position: absolute;
    z-index: 3;
    bottom: 0; 
    transform: scale(0) translateY(50px); 
    opacity: 0; 
    visibility: hidden; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.ID-Card:hover .content {
        transform: scale(1) translateY(0); 
        bottom: 25px;
        opacity: 1;
        visibility: visible;
}


.content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.content .title span {
    font-weight: 300;
    font-size: 0.7em;
}

.content .sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    padding: 0; 
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5); 
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor; 
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.5s;
}

.sci li a:hover {
    color: rgba(255, 255, 255, 1); 
}

.sci li a img {
    width: 20px; 
    height: 20px; 
    filter: invert(1) brightness(0.7); 
    transition: 0.5s;
}

.sci li a:hover img {
    filter: invert(1) brightness(1); 
}